{
  "presets": [
    "razzle/babel" // NEEDED
    // "stage-0"
  ],
  "plugins": [
    // additional plugins
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "src",
        "rootPathPrefix": "~/"
      }
    ]
  ]
}
